# env
.venv
.env
.env.local
.env.production
.env.development

# Node
node_modules/
.nuxt/
.output/
dist/
build/

# Python
__pycache__/
*.ipynb
*.pyc
.venv/
venv/
*.egg-info/
.pytest_cache/

# Plasmo
.plasmo/
keys.json

# OS
.DS_Store
Thumbs.db
